/* general */

:root {
	--color-color-background: #ffffff;
	--color-color-secondary: #f7f5f2;
	--color-color-text: #1a1918;
	--color-color-label: #0061fe;
}

body {
    font-family: "Titillium Web", sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    font-size: 1em;
    background-color: var(--color-color-background);
    position: relative;
}

header {
    width: 100%;
    border: 1px solid var(--color-color-text) ;
}

main {
    width: 100%;
    border: 1px solid var(--color-color-text);
}

.left {
    width: 60%;
    border: 1px solid var(--color-color-text);
    background-color: transparent;
}

.right {
    width: 40%;
    border: 1px solid var(--color-color-text);
    background-color: var(--color-color-secondary);
    padding: 10px;
}

footer {
    width: 100%;
    border: 1px solid var(--color-color-text);
}

#main-logo {
    background-color: var(--color-color-label);
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
}

#main-logo i {
    padding: 10px;
}

.btn-tras {
    padding: 10px 30px;
}

.btn-tras:hover {
    opacity:0.5;
    background-color: var(--color-color-background);
}

.a-black {
    color: var(--color-color-text);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}



