li a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  left: 0px;
  padding-left: 160px;
  padding-bottom: 15px;
  background-color: var(--color-background);
  min-width: 160px;
  width: 100%;
  border-bottom: 1px solid gainsboro;
  z-index: 2000;
}


.dropdown-content ul {
  float: left;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content i {
  padding-left: 140px;
  padding-right: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
  }


